/* ============================== Cutom Font Inclusion ============================== */

@font-face {
    font-family: 'Aurebesh';
    src:url('webfonts_Aurebesh/Aurebesh.ttf.woff') format('woff'),
        url('webfonts_Aurebesh/Aurebesh.ttf.svg#Aurebesh') format('svg'),
        url('webfonts_Aurebesh/Aurebesh.ttf.eot'),
        url('webfonts_Aurebesh/Aurebesh.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SerifGothicStd-Black';
    src:url('serifgothicstd27357/SerifGothicStd-Black.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SerifGothicStd-Bold';
    src:url('serifgothicstd27357/SerifGothicStd-Bold.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SerifGothicStd-ExtraBold';
    src:url('serifgothicstd27357/SerifGothicStd-ExtraBold.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SerifGothicStd-Light';
    src:url('serifgothicstd27357/SerifGothicStd-Light.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SerifGothicStd';
    src:url('serifgothicstd27357/SerifGothicStd.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RogueAF';
    src:url('RogueAF/RogueAF.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

/* ============================== Page Styling ============================== */

#map 
{ 
	/* height: 180px; */
	background-color: #000228;
}

html, body 
{
	height: 100%;
	margin: 0;
}

.dropShadowText, 
.aurabesh_location_bar div, 
.aurabesh_location_bar div div span,
.aurabesh_planet_bar div, 
.aurabesh_planet_bar div div div 
{
	text-shadow: 1px 1px 3px #000000;
}

/* ============================== Zoom Control Styling ============================== */

.leaflet-top
{
	top:  40%;	
}

.leaflet-left 
{
    right: 0;
    left: unset;
}

.leaflet-top .leaflet-control 
{
    margin-top: 0px;
}

.leaflet-left .leaflet-control 
{
    /* margin-left: 20px; */
    margin-right: 20px; 
}

.leaflet-touch .leaflet-bar a:first-child 
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-color: #ffffff;
}

.leaflet-touch .leaflet-bar a:last-child 
{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.leaflet-touch .leaflet-bar a:first-child 
.leaflet-touch .leaflet-bar a:last-child 
{
    border-width: 3px;
    border-color: #ffffff;
    border: 2px solid #ffffff;
}

.leaflet-bar a.leaflet-disabled 
{
    cursor: default;
    /* background-color: #f4f4f4; */
    background-color: rgba(0,0,0,.5);
    color: #bbb;
}

.leaflet-bar a, .leaflet-bar a:hover 
{
    /* background-color: #fff; */
    background-color: rgba(0,0,0,.5);
    /* border-bottom: 1px solid #ccc; */
    width: 26px;
    height: 26px;
    line-height: 26px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.leaflet-touch .leaflet-bar a 
{
	width: 30px;
	height: 32px;
	line-height: 27px;
	border-style: solid;
	border-color: #ffffff;
	border-width: 0px 2px 0px 2px;

}

.leaflet-touch .leaflet-bar a:nth-child(1) 
{
	border-top: 2px solid #ffffff;
}

.leaflet-touch .leaflet-bar a:nth-child(2) 
{
	border-bottom: 2px solid #ffffff;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar 
{
    border: none;
}

/* ============================== Popup Styling ============================== */
		
.leaflet-container 
{
	/* height: 400px;
	width: 600px; */
	height: 100%;
	width: 100%	;
	max-width: 100%;
	max-height: 100%;
}

.leaflet-popup-content-wrapper
{
	border-radius: 25px;
	min-width:  200px;
	color: #ffffff;
    border: 2px solid #ffffff;
    background-color: rgba(0,0,0,.5);
	min-height: 50px;
}

.leaflet-popup-content
{	
	/*margin: 7px 15px 5px 10px;
	display: flex;*/
	overflow: hidden;
	margin: 7px 15px 5px 10px;

}

.leaflet-popup-pane .leaflet-popup .leaflet-popup-close-button
{
	padding: 7px 25px 0 0;
}

.leaflet-popup-content-left, .leaflet-popup-content-right, .leaflet-popup-content-top, .leaflet-popup-content-bottom
{
	padding: 0px;
	margin: 0px;
}

.leaflet-popup-content-left, .leaflet-popup-content-right
{
    float: left;
}

.leaflet-popup-content-left
{
	
	width: 25px;
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: large;
	font-weight: bolder;
    padding-top: 0.05em;	
    /*font: 3em 'RogueAF', "Helvetica Neue", Arial, Helvetica, sans-serif;
    line-height: .5;
    width: 35px;*/
}

.leaflet-popup-content-right
{
	width: 84%;
}

.leaflet-popup-content-top, .leaflet-popup-content-bottom, .leaflet-popup-content p 
{
	padding: 0px;
	margin: 0px;
}	

.leaflet-popup-content-top b
{
	font: 12px/1.5 "SerifGothicStd-Bold";
}

.leaflet-popup-content-bottom
{

	font-family: 'Aurebesh';
	font-size:  5.5pt;
}

/* ============================== Aurebesh Styling - Planet Bar ============================== */

.aurabesh_planet_bar
{
	top: 4%;
	left: 25px;	
	position: absolute;	
	width:  25%;
	height: 55px;

	/* background-color: rgba(0, 0, 0, 0.5); */
    z-index: 1004;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    min-width: 350px;
}

.aurabesh_planet_bar .aurabesh_location_bar_name
{
	color: #ffffff;
	flex: .5;
	font: 1.33em "SerifGothicStd-Bold";
	text-transform: uppercase;
}

.aurabesh_planet_bar .aurabesh_location_bar_aurebesh, 
.aurabesh_planet_bar .aurabesh_location_bar_hrline, 
.aurabesh_planet_bar .aurabesh_location_bar_details
{ 
	color: #B0C4DE; 
}

.aurabesh_planet_bar .aurabesh_location_bar_aurebesh
{
	flex: .5	;
	font: 0.75em "Aurebesh", "SerifGothicStd-Bold";
	text-transform: uppercase;
}

.aurabesh_planet_bar .aurabesh_location_bar_hrline
{
	flex: .5;
	line-height: .75em;
}

.aurabesh_planet_bar .aurabesh_location_bar_details
{
	flex: 2;
	display: flex;
    flex-direction: row; 
}

.aurabesh_planet_bar .aurabesh_location_bar_details div
{
	
	display: flex;
	flex-direction: row;
}

.aurabesh_planet_bar .aurabesh_location_bar_details div:nth-child(1)
{
	flex: 1;
}

.aurabesh_planet_bar .aurabesh_location_bar_details div:nth-child(2),
.aurabesh_planet_bar .aurabesh_location_bar_details div:nth-child(3)
{
	flex: 1.25;
}

.aurabesh_planet_bar .aurabesh_location_bar_details div:nth-child(4)
{
	flex: .75;
}

.aurabesh_planet_bar .aurabesh_location_bar_details div span:nth-child(1),
.aurabesh_planet_bar .aurabesh_location_bar_details div div:nth-child(1)
{
	font: 1.25em "RogueAF", "SerifGothicStd-Bold";
	flex: .33;
	margin: auto;
}

.aurabesh_planet_bar .aurabesh_location_bar_details div span:nth-child(2),
.aurabesh_planet_bar .aurabesh_location_bar_details div div:nth-child(2)
{
	font: 0.66em "Aurebesh", "SerifGothicStd-Bold";
	padding-left: .5em;
	flex: 3;
	margin: auto;
}

/* ============================== Aurebesh Styling - Location Bar ============================== */

.aurabesh_location_bar
{
	bottom: 66px;
	left: 25px;	
	position: absolute;	
	width:  33%;
	height: 66px;

	/* background-color: rgba(0, 0, 0, 0.5); */
    z-index: 1003;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    min-width: 450px;
}

.aurabesh_location_bar div
{

}

.aurabesh_location_bar .aurabesh_location_bar_name
{
	color: #ffffff;
	flex: 2;
	font: 2.15em "SerifGothicStd-Bold";
	text-transform: uppercase;
	line-height: .85em;
}

.aurabesh_location_bar .aurabesh_location_bar_aurebesh, 
.aurabesh_location_bar .aurabesh_location_bar_hrline, 
.aurabesh_location_bar .aurabesh_location_bar_details
{ 
	color: #B0C4DE; 
}

.aurabesh_location_bar .aurabesh_location_bar_aurebesh
{
	flex: 1;
	font: 0.95em "Aurebesh", "SerifGothicStd-Bold";
	text-transform: uppercase;
	line-height: 1.33em;
}

.aurabesh_location_bar .aurabesh_location_bar_hrline
{
	flex: .5;
	line-height: 1em;
}

.aurabesh_location_bar .aurabesh_location_bar_details
{
	flex: 1;
	display: flex;
    flex-direction: row; 
}

.aurabesh_location_bar .aurabesh_location_bar_details div
{
	flex: 1;
	display: flex;
	flex-direction: row;
}

.aurabesh_location_bar .aurabesh_location_bar_details div:nth-child(4)
{
	flex: 1.75;
}

.aurabesh_location_bar .aurabesh_location_bar_details div span:nth-child(1),
.aurabesh_location_bar .aurabesh_location_bar_details div div:nth-child(1)
{
	font: 1.5em "RogueAF", "SerifGothicStd-Bold";
	flex: .33;
	margin: auto;	
}

.aurabesh_location_bar .aurabesh_location_bar_details div span:nth-child(2),
.aurabesh_location_bar .aurabesh_location_bar_details div div:nth-child(2)
{
	font: 0.8em "Aurebesh", "SerifGothicStd-Bold";
	padding-left: .5em;
	flex: 3;
	margin: auto;
}

/* ============================== Aurebesh Styling - Bottom Bar ============================== */

.aurabesh_bottom_bar
{
	width:  100%;
	height: 50px;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
    z-index: 1001;
    font: 1em/1.5 "Aurebesh", "SerifGothicStd-Bold";
    color: #ffffff;
    display: flex;
    flex-direction: row; 
	flex-wrap: wrap    
}

.aurabesh_bottom_bar_child
{
	text-align: center;
	margin: auto;
    display: flex;
    flex-direction: row; 	
}

.aurabesh_bottom_bar_child_emptySmall
{
	flex: .25;
}

.aurabesh_bottom_bar_child_1
{
	flex: 1;
}

.aurabesh_bottom_bar_child_2
{
	flex: 2;
}

.aurabesh_bottom_bar_child_empty
{
	flex: 1.5;
}

.aurabesh_bottom_bar_child span:nth-child(1),
.aurabesh_bottom_bar_child div:nth-child(1)
{
	font: 1.5em "RogueAF", "SerifGothicStd-Bold";
	flex: .33;
	line-height: .75;
	margin: auto;
}

.aurabesh_bottom_bar_child span:nth-child(2),
.aurabesh_bottom_bar_child div:nth-child(2)
{
	font: 1em "Aurebesh", "SerifGothicStd-Bold";
	flex: 2;
	text-align: left;
	padding-left: .25em;
	margin: auto;
}