@font-face {
    font-family: 'Aurebesh';
    src:url('webfonts_Aurebesh/Aurebesh.ttf.woff') format('woff'),
        url('webfonts_Aurebesh/Aurebesh.ttf.svg#Aurebesh') format('svg'),
        url('webfonts_Aurebesh/Aurebesh.ttf.eot'),
        url('webfonts_Aurebesh/Aurebesh.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SerifGothicStd-Black';
    src:url('serifgothicstd27357/SerifGothicStd-Black.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SerifGothicStd-Bold';
    src:url('serifgothicstd27357/SerifGothicStd-Bold.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SerifGothicStd-ExtraBold';
    src:url('serifgothicstd27357/SerifGothicStd-ExtraBold.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SerifGothicStd-Light';
    src:url('serifgothicstd27357/SerifGothicStd-Light.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SerifGothicStd';
    src:url('serifgothicstd27357/SerifGothicStd.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RogueAF';
    src:url('RogueAF/RogueAF.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

#map 
{ 
	/* height: 180px; */
	background-color: #000228;
}

html, body 
{
	height: 100%;
	margin: 0;
}
		
.leaflet-container 
{
	/* height: 400px;
	width: 600px; */
	height: 100%;
	width: 100%	;
	max-width: 100%;
	max-height: 100%;
}

.leaflet-popup-content-wrapper
{
	border-radius: 25px;
	min-width:  200px;
	color: #ffffff;
    border: 2px solid #ffffff;
    background-color: rgba(0,0,0,.5);
	min-height: 50px;
}

.leaflet-popup-content
{	
	margin: 7px 15px 5px 10px;
	/*display: flex;*/
	overflow: hidden;

}

.leaflet-popup-pane .leaflet-popup .leaflet-popup-close-button
{
	padding: 7px 25px 0 0;
}

.leaflet-popup-content-left, .leaflet-popup-content-right, .leaflet-popup-content-top, .leaflet-popup-content-bottom
{
	padding: 0px;
	margin: 0px;
}

.leaflet-popup-content-left, .leaflet-popup-content-right
{
    float: left;
}

.leaflet-popup-content-left
{
	width: 25px;
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: large;
	font-weight: bolder;
    padding-top: 0.2em;	
}

.leaflet-popup-content-right
{
	width: 84%;
}

.leaflet-popup-content-top, .leaflet-popup-content-bottom, .leaflet-popup-content p 
{
	padding: 0px;
	margin: 0px;
}	

.leaflet-popup-content-top b
{
	font: 12px/1.5 "SerifGothicStd-Bold";
}

.leaflet-popup-content-bottom
{

	font-family: 'Aurebesh';
	font-size:  5.5pt;
}

.aurabesh_bottom_bar
{
	width:  100%;
	height: 50px;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
    z-index: 1001;
    font: 1em/1.5 "Aurebesh", "SerifGothicStd-Bold";
    color: #ffffff;
    display: flex;
    flex-direction: row; 
}

.aurabesh_bottom_bar_child
{
	text-align: center;
	margin: auto;
}

.aurabesh_bottom_bar_child_1
{
	flex: 1;
}

.aurabesh_bottom_bar_child_2
{
	flex: 2;
}

.aurabesh_bottom_bar_child span:nth-child(1)
{
	font: 1.33em/1.5 "RogueAF", "SerifGothicStd-Bold";
}

.aurabesh_bottom_bar_child span:nth-child(2)
{
	font: 1em/1.5 "Aurebesh", "SerifGothicStd-Bold";
}

.aurabesh_bottom_bar_child_empty
{
	flex: 3;
}

.aurabesh_location_bar
{
	bottom: 75px;
	left: 25px;	
	position: absolute;	
	width:  33%;
	height: 75px;

	/* background-color: rgba(0, 0, 0, 0.5); */
    z-index: 1003;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.aurabesh_location_bar div
{

}

.aurabesh_location_bar .aurabesh_location_bar_name
{
	color: #ffffff;
	flex: 2;
	font: 2.5em/1.5 "SerifGothicStd-Bold";
	text-transform: uppercase;
}

.aurabesh_location_bar .aurabesh_location_bar_aurebesh, 
.aurabesh_location_bar .aurabesh_location_bar_hrline, 
.aurabesh_location_bar .aurabesh_location_bar_details
{ 
	color: #B0C4DE; 
}

.aurabesh_location_bar .aurabesh_location_bar_aurebesh
{
	flex: 2;
	font: 0.99em/1.5 "Aurebesh", "SerifGothicStd-Bold";
	text-transform: uppercase;
}

.aurabesh_location_bar .aurabesh_location_bar_hrline
{
	/*flex-shrink: 2;*/
	flex: 1;
}

.aurabesh_location_bar .aurabesh_location_bar_hrline hr
{
	margin: 0px;
	padding: 0px;
	width:10%;
	height:4px;
	color:#B0C4DE;
	background-color:#B0C4DE;
}

.aurabesh_location_bar .aurabesh_location_bar_details
{
	flex: 2;
	display: flex;
    flex-direction: row; 
}

.aurabesh_location_bar .aurabesh_location_bar_details div
{
	flex: 1;
}

.aurabesh_location_bar .aurabesh_location_bar_details div span:nth-child(1)
{
	font: 1.0em/1.5 "RogueAF", "SerifGothicStd-Bold";
}

.aurabesh_location_bar .aurabesh_location_bar_details div span:nth-child(2)
{
	font: 0.75em/1.5 "Aurebesh", "SerifGothicStd-Bold";
	padding-left: .5em;
}
